<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-POC</title>
</head>
<body>
    <div>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Login Page</h1>
        <br>
            <form action="" method="post">
                <p style="text-align: center;">Username <input type="text" name="username" id=""></p>
                <p style="text-align: center;">Password <input type="password" name="password" id=""></p>
                <p style="text-align: center;"><input type="submit" name="Login" id=""></p>
            </form>
        </p>
        <br><br>
        {% if p|length != 0 %}
        <h3 style="text-align: center;">{{p}}</h3>
        {% endif %}
        
    </div>
</body>
</html>